@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');
*{
  box-sizing: border-box;
}
body {
  left: 1px;
    overflow-y: hidden;
    font-family: "Poppins", sans-serif;
    background-color: #2F303A;
    color: #fff;
    margin: 0;
    padding: 0;
  }
  #kidsPicMiddle{
    position: absolute;
    width: 600px;
    height: 680px;
    bottom: -8px;
    left: 460px;
    outline: none;
    cursor: default;
  }
  #kidsPicRight{
    position: absolute;
    width: 600px;
    height: 680px;
    bottom: -5px;
    right: -25px;
    outline: none;
    cursor: default;
  }
  #kidsPicLeft{
    position: absolute;
    width: 600px;
    height: 680px;
    bottom: -10px;
    left: -65px;
    outline: none;
    cursor: default;
  }

  .responsive {
    max-width: 100%;
    height: auto;
  }

  .offset:before {
    display: block;
    content: "";
    height: 4rem;
    margin-top: -4rem;
  }
  
  .navbar {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 0.9rem;
    letter-spacing: 0.1rem;
    
  }
  .navbar-brand img {
    position: absolute;
    /* height: 4rem; */
    width: 6rem;
    top: -10px;
  }
  .navbar-nav li {
    padding-right: 0.7rem;
  }
  .navbar-dark .navbar-nav .nav-link {
    color: inherit;
    padding-top: 0.8rem;
  }
  .navbar-dark .navbar-nav .nav-link.active,
  .navbar-dark .navbar-nav .nav-link:hover {
    color: #717575;
  }
  .caption {
    width: 100%;
    max-width: 100%;
    position: absolute;
    top: 50%;
    z-index: 1;
    color: white;
    text-transform: uppercase;
    top: 200px;
  }
  .caption h1 {
    font-size: 2rem;
    font-weight: 500;
    letter-spacing: 0.3rem;
    padding-bottom: 1rem;
  }
  .caption h3 {
    font-size: 1.2rem;
    padding-bottom: 1.6rem;
  }

  /* Button */
  .btn-lg {
    width: 150px;
    color: white;
    background-color: #1762A7;
    padding: .75rem 1.5rem;
    border-radius: .5rem;
    text-decoration: none;
    font-size: .9rem;
    outline: none;
    border: none;
    cursor: pointer;
  }
  .btn-lg:hover {
    background-color: #2180d8;
  }
  
  .btn-lg:focus {
    background-color: #2796ff;
  }
  .home-page-circle-1 {
    position: absolute;
    width: 25vw;
    height: 25vw;
    border-radius: 50%;
    background-color: rgb(188, 58, 128, .1);
    bottom: 5vw;
    left: 5vw;
    z-index: -1;
  }
  
  .home-page-circle-2 {
    position: absolute;
    width: 25vw;
    height: 25vw;
    border-radius: 50%;
    background-color: rgb(52, 87, 178, .1);
    top: 15vh;
    left: 30vw;
    z-index: -1;
  }
  
  .home-page-circle-3 {
    position: absolute;
    overflow: hidden;
    width: 45vw;
    height: 45vw;
    bottom: 0;
    right: 0;
    z-index: -1;
  }

  
  .home-page-circle-3::before {
    content: '';
    transform: translate(40%, 40%);
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    background-color: rgba(64, 112, 233, 0.1);
  }

  #gear {
    position: absolute;
    width: 120px;
    height: 40px;
    right: 0px;
    top: 198px;
    background: #1762A7;
    box-shadow: 0px 0px 9.8px rgba(0, 0, 0, 0.1); 
    border-radius: 5px;
  }
  .gear_pic{
    position: absolute;
    width: 50px;
    left: 14px;
    cursor: pointer;
  }
  .english{
    cursor: pointer;
    position: absolute;
    width: 60px;
    height: 30px;
    right: 140px;
    top: 260px;
    background: #BC3A80;
    box-shadow: 0px 0px 9.8px rgba(0, 0, 0, 0.1); 
    border-radius: 5px;
    
    /* display: none; */
  }
  .en{
    position: absolute;
     width: 32px;
    height: 34px; 
    left: 15px; 
    top: 2px;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 200;
    font-size: 17px;
    line-height: 154.2%;
    text-align: center;
    letter-spacing: 3px;
    text-decoration-line: underline;
    text-decoration-color: rgb(255, 255, 255,0.4);
    text-decoration-style: solid;
    color: #fff;
  }

  .macedonian{   
    position: absolute;
    width: 60px;
    height: 30px;
    right: 70px;
    top: 260px;
    background: #BC3A80;
    box-shadow: 0px 0px 9.8px rgba(0, 0, 0, 0.1); 
    border-radius: 5px;
    cursor: pointer;
    /* display: none; */
  }
  .mk{
    position: absolute;
    width: 32px;
    height: 34px; 
    left: 15px; 
    top: 2px;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 200;
    font-size: 17px;
    line-height: 154.2%;
    text-align: center;
    letter-spacing: 3px;
    text-decoration-line: underline;
    text-decoration-color: rgb(255, 255, 255,0.4);
    text-decoration-style: solid;
    color: #fff;
  }
.al{   
  position: absolute;
  width: 60px;
  height: 30px;
  right: 0px;
  top: 260px;
  background: #BC3A80;
  box-shadow: 0px 0px 9.8px rgba(0, 0, 0, 0.1); 
  border-radius: 5px;
  cursor: pointer;
  /* display: none; */
}
.alb{
  position: absolute;
   width: 32px;
  height: 34px; 
  left: 15px; 
  top: 2px;
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 200;
  font-size: 17px;
  line-height: 154.2%;
  text-align: center;
  letter-spacing: 3px;
  text-decoration-line: underline;
  text-decoration-color: rgb(255, 255, 255,0.4);
  text-decoration-style: solid;
  color: #fff;
}
.voice{
  position: absolute;
  width: 60px;
  height: 30px;
  right: 0px;
  top: 310px;
  background: #BC3A80;
  box-shadow: 0px 0px 9.8px rgba(0, 0, 0, 0.1); 
  border-radius: 5px;
  
  /* display: none; */
}
#audio{
  position: absolute;
  width: 40px;
  left: 10px; 
  top: -20px;
  cursor: pointer;
}